fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]
pgvector

python-multipart
pydantic
pydantic-settings

faster-whisper

torch
sentence-transformers

onnxruntime
soundfile

numpy
scipy

openai

python-dotenv

ffmpeg-python

httpx

jinja2

aiofiles